* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hzflex {
    display: flex;
    flex-direction: row;
}

.vtflex {
    display: flex;
    flex-direction: column;
}

.twogrid {
    display: grid;
    grid-template-columns: auto auto auto;
}

.content {
    margin-left: 8%;
}

.titleag h1 {
    font-size: 33px;
    margin-top: 50px;
    color: white;
    text-align: center;
}

hr {
    width: 88%;
    border-top: 1px solid #d0d2d4;
}

.topbox {
    background-color: #1a1a1a;
    height: 150px;
    width: 100%;
}

.querycontainer {
    margin-top: 50px;
}

.querybox {
    margin-top: 20px;
    width: 50%;
    background-color: #d0d2d4;
    border-radius: 10px;
    padding: 20px;
    height: 110px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.querybox label {
    margin-left: 20px;
}

.querybox input {
    align-content: center;
}

.querybox button {
    margin-left: 20px;
}

.buttonflex {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: center;
}

.button {
    padding: 10px;
}

.resultcontain {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 90%;
}

a {
    text-decoration: none;
    color: black;
}

table.row-clickable tbody tr th {
    padding: 0;
}

table.row-clickable tbody tr th a {
    display: block;
    padding: 8px;
}