/* CSS for the game item */
.game-item {
  width: 26rem;
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.game-item p {
  margin: 5;
  padding: 0;
  font-size: 16px;
}

/* .game-item p:first-child {
  font-weight: bold;
  margin-bottom: 5px;
} */

.bold {
  font-weight: bold;
}

/* .game-item p:not(:last-child) {
  margin-bottom: 5px;
} */

/* CSS for the game item container */
.game-item-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
