/* Style for All Games */
.GameCard {
  background-color: #Ededed;
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  transition: 0.3s;
  display: flex;
  flex-direction: row;
}

.GameCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

.GameCard:active {
  background-color: #E4e4e4;
  transition: 0.1s;
}

.GameCard img {
  width: 96px;
  height: 160px;
}

.GameText {
  padding: 10px;
}

.GameCard p {
  margin: 0;
}

.GameCard p:first-child {
  font-weight: bold;
}

.GameCard p:not(:last-child) {
  margin-bottom: 5px;
}

.allGames {
  width: 30rem;
}

.allGames a {
    text-decoration: none;
}

.nice_butt_on {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-image: linear-gradient(to right, #ff6b6b, #ff8e53);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-image 0.3s ease;
  margin-bottom: 1.5rem;
}

.nice_dark_butt_on {
  padding: 12px 24px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-image: linear-gradient(to right, #303244, #291baf);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-image 0.3s ease;
  margin-bottom: 1.5rem;
}

.nice_butt_on:hover {
  background-image: linear-gradient(to right, #ff8e53, #ff6b6b);
}

